.body{
    height: 100%;
    margin: 0;
    padding-bottom: 20;
}

.container, .formContainer{
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.notesAndCardNums{
    width: 600px;
    display: flex;
    justify-content: space-between;
}

.inputnumcards{
    max-width: 50px;
}

.cardsNbutton{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardContainer{
    min-width: 500px;
    max-width: 1200px;
    margin: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 50px
}

.loading{
    margin: 0 auto;
    text-align: center;
    border-radius: 10px;
    background-color: white;
    width:200px;
    padding: 5px;
    box-shadow: 0 2px 6px rgb(116, 116, 116);
    user-select: none;
}

.formContainer{
    background-color: white;
    text-align: center;
    border: 1px solid rgb(233, 232, 232);
    border-radius: 15px;
    box-shadow: 0 3px 8px rgb(116, 116, 116);
    margin: 0 auto;
    margin-top: 40px;
    width: 800px;
    padding: 20px;
    
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.frontButtons{
    width: 600px;
    display: flex;
    justify-content: space-between;
}

.button, .linkContainer{
    width: 130px;
    border: 1px solid black;
    height: 25px;
    background-color: white;
}

.button{
    font-size: large;
    margin-bottom: 30px;
}

.resetButton{
    margin-top: 60px;
}

.linkComponent{
    text-decoration: none;
}

.link {
    text-decoration: none;
    transition: color 0.3s ease;
    color: black;
    font-size: large;
}

.link:hover, .button:hover{
    color: #2980b9;
}

.insufficient{
    color: red;
}

.textarea{
    width: 600px;
    height: 250px;
    max-width: 800px;
    max-height: 1000px;
}


.cards{
    cursor: pointer;
    box-shadow: 0 6px 12px rgb(55, 80, 109);
    background-color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
    max-width: 300px;
    min-width: 320px;
    height: 300px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 15px;
    padding: 20px;
    transform-style: preserve-3d;
    transform: perspective(1000px) rotateY(var(--rotate-y, 0)) translateY(var(--translate-y, 0));
    transition: 0.4s;
}

.flip{
    --rotate-y: 180deg;
}

.front, .back{
    padding: 3em;
    position: absolute;
    backface-visibility: hidden;
}

.back{
    display: inline-block;
    text-align: left;
    line-height: 1.4;
    transform: rotateY(180deg);
}

.cards:hover{
    --translate-y: -20px;
    box-shadow: 0 8px 16px rgb(63, 122, 211);
}

