.mainBody{
    height: 100%;
    margin: 0%;
}

.body {
    height: 80vh;
    margin: 0;
    font-family: 'Arial', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 600px;
    width: 100%;
}

.loading{
    margin: 0 auto;
    text-align: center;
    border-radius: 10px;
    background-color: white;
    width:200px;
    padding: 5px;
    box-shadow: 0 2px 6px rgb(116, 116, 116);
    user-select: none;
}

.upload {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.btn {
    margin-top: 5px;
    padding: 4px;
    background-color: white;
    font-size: medium;
    border: 1px solid black;
    border-radius: 8px;
}

.btn:hover {
    border: 1px solid white;
    color: white;
    background-color: black;
}

.questions {
    margin-top: 10px;
}

.question {
    margin-bottom: 20px;
}

.quizTitle {
    font-size: x-large;
    font-weight: bold;
}

.quizForm {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.textarea {
    min-height: 300px;
}


.swap {
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 250px;
    border: 2px solid #ccc;
    border-radius: 20px;
    overflow: hidden;
    user-select: none;
    padding: 4px;
    margin: 8px 0px;
}

.swap:hover {
    background-color: #e4e3e3;
}

.swap input {
    display: none;
}

.swap_on, .swap_off {
    flex: 1;
    padding: 4px;
    text-align: center;
    display: none;
}


.swap input:checked ~ .swap_off {
    display: block;
}

.swap input:not(:checked) ~ .swap_on {
    display: block;
}

.warning {
    color: red;
}